body {
  background-color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  color: #fff;
}

header img {
  height: 50px;
  width: 100px;
}

.general-I {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4.8fr 1fr;
  grid-template-areas: "header" "section" "footer";
  justify-content: center;
  align-items: center;
  gap: 100px;
}

section {
  display: grid;
  place-items: center;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentacion .presentacion__id {
  display: flex;
  gap: 10px;
}
.presentacion .presentacion__id .presentacion__id--nombre {
  font-size: 60px;
  color: #00F0FF;
}
.presentacion .presentacion__id .presentacion__id--apellido {
  font-size: 60px;
  color: #fff;
}

.presentacion__info--2 {
  color: #fff;
  font-size: 20px;
}

footer ul li a img {
  height: 30px;
  width: 30px;
}

.marca {
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .presentacion__id--nombre {
    font-size: 45px;
  }
  .presentacion__id--apellido {
    font-size: 45px;
  }
  .presentacion__info--2 {
    font-size: 20px;
  }
  footer ul li a img {
    height: 18px;
    width: 18px;
  }
  .marca {
    font-size: 12px;
  }
}
.generalS {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "header" "section" "footer";
}

.container1 {
  display: grid;
  grid-template-areas: "informacion" "descripcion" "habilidades";
  justify-items: center;
  align-items: center;
}

.section-SM {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-SM .container1 {
  display: grid;
  grid-template-areas: "informacion" "descripcion" "habilidades";
  justify-items: center;
  align-items: center;
}
.section-SM .container1 .informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
}
.section-SM .container1 .informacion .info__span1 {
  display: flex;
  gap: 10px;
}
.section-SM .container1 .informacion .info__span1 .info__span1--sobre {
  font-size: 100px;
}
.section-SM .container1 .informacion .info__span1 .info__span1--mi {
  font-size: 100px;
  color: #00F0FF;
}
.section-SM .container1 .informacion .info__span2 {
  display: flex;
  gap: 10px;
}
.section-SM .container1 .informacion .info__span2 .info__span2--soy {
  font-size: 30px;
  color: #00F0FF;
}
.section-SM .container1 .informacion .info__span2 .info__span2--desarrollador {
  font-size: 30px;
}
.section-SM .container1 .descripcion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  width: 1000px;
}
.section-SM .container1 .descripcion .descripcion__p {
  height: 150px;
  width: 250px;
}
.section-SM .container1 .descripcion .descripcion__video {
  height: 315px;
  width: 560px;
}
.section-SM .container1 .habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
}
.section-SM .container1 .habilidades .habilidades__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-SM .container1 .habilidades .habilidades__div .habilidades__div--html {
  height: 300px;
  width: 450px;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.section-SM .container1 .habilidades .habilidades__div .habilidades__div--bootstrap {
  height: 200px;
  width: 260px;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .info__span1--sobre {
    font-size: 60px;
  }
  .info__span1--mi {
    font-size: 60px;
  }
  .info__span2--soy {
    font-size: 20px;
  }
  .info__span2--desarrollador {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .informacion {
    margin-top: 200px;
  }
  .info__span1--sobre {
    font-size: 40px;
  }
  .info__span1--mi {
    font-size: 40px;
  }
  .info__span2--soy {
    font-size: 15px;
  }
  .info__span2--desarrollador {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .descripcion {
    flex-direction: column;
    margin: 10px;
    width: 500px;
  }
  .descripcion__p {
    margin: 40px;
    height: 75px;
  }
}
@media screen and (max-width: 480px) {
  .descripcion {
    flex-direction: column;
    margin: 10px;
    width: 450px;
  }
  .descripcion__video {
    height: 250px;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .habilidades {
    margin-top: 150px;
  }
  .habilidades p {
    font-size: 40px;
  }
  .habilidades__div {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .habilidades {
    margin-top: 150px;
  }
  .habilidades p {
    font-size: 30px;
  }
  .habilidades__div--html {
    height: 250px;
    width: 430px;
  }
}

/*# sourceMappingURL=styles.css.map */
