body {
  background-color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  color: #fff;
}

header img {
  height: 50px;
  width: 100px;
}

section {
  margin-top: 75px;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentacion .presentacion__id {
  display: flex;
  gap: 10px;
}
.presentacion .presentacion__id--nombre {
  font-size: 45px;
  color: #00F0FF;
}
.presentacion .presentacion__id--apellido {
  font-size: 45px;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .presentacion__id--nombre {
    font-size: 45px;
    color: #00F0FF;
  }
  .presentacion__id--apellido {
    font-size: 45px;
    color: #fff;
  }
}
.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
.presentacion__info--2 {
  color: #fff;
  font-size: 20px;
}

.presentacion img {
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 480px) {
  .presentacion img {
    height: 300px;
    width: 300px;
  }
}
footer ul li a img {
  height: 30px;
  width: 30px;
}

.marca {
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .presentacion__id--nombre {
    font-size: 45px;
  }
  .presentacion__id--apellido {
    font-size: 45px;
  }
  .presentacion__info--2 {
    font-size: 20px;
  }
  footer ul li a img {
    height: 18px;
    width: 18px;
  }
  .marca {
    font-size: 12px;
  }
}
.navbar {
  background-color: #000000;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion__video {
  height: 340px;
  width: 450px;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.info__span1 {
  display: flex;
  gap: 10px;
}

.info__span1--sobre {
  font-size: 60px;
}

.info__span1--mi {
  font-size: 60px;
  color: #00F0FF;
}

.info__span2 {
  display: flex;
  gap: 10px;
}

.info__span2--soy {
  font-size: 30px;
  color: #00F0FF;
}

.info__span2--desarrollador {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .info__span1--sobre {
    font-size: 60px;
  }
  .info__span1--mi {
    font-size: 60px;
  }
  .info__span2--soy {
    font-size: 20px;
  }
  .info__span2--desarrollador {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .informacion {
    margin-top: 200px;
  }
  .info__span1--sobre {
    font-size: 40px;
  }
  .info__span1--mi {
    font-size: 40px;
  }
  .info__span2--soy {
    font-size: 15px;
  }
  .info__span2--desarrollador {
    font-size: 15px;
  }
}
.descripcion {
  margin: 40px;
  width: 800px;
}

.descripcion__p {
  height: 150px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .descripcion {
    flex-direction: column;
    margin: 10px;
    width: 500px;
  }
  .descripcion__p {
    margin: 40px;
    height: 75px;
  }
}
@media screen and (max-width: 480px) {
  .descripcion {
    flex-direction: column;
    margin: 10px;
    width: 90%;
  }
  .descripcion__video {
    height: 220px;
    width: 350px;
  }
}
#skills {
  width: 100%;
  height: auto;
  margin-top: 110px;
}

.skills-header {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #00F0FF;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: bold;
}

.skills-content {
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.skill-html {
  height: auto;
  width: 600px;
  padding: 0%;
  position: relative;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}

@media screen and (max-width: 615px) {
  .skill-html {
    width: 80%;
  }
}
.skill-text {
  width: 100%;
  position: relative;
  height: 50px;
}

.html {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 30%;
}

.html-prog {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: #191919;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  color: #000000;
}

.html-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 95%;
  border-radius: 10px;
  background: #00F0FF;
}

.js-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  font-family: poppins;
  justify-content: center;
  transition: all 0.4s ease;
  width: 12%;
  border-radius: 10px;
  background: #00F0FF;
}

.boots-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 80%;
  border-radius: 10px;
  background: #00F0FF;
}

.sass-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71%;
  border-radius: 10px;
  background: #00F0FF;
  transition: all 0.4s ease;
}

.git-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 68%;
  border-radius: 10px;
  background: #00F0FF;
}

.seo-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  border-radius: 10px;
  transition: all 0.4s ease;
  background: #00F0FF;
}

.tituloP {
  color: #00F0FF;
  font-size: 5vh;
  margin-top: 80px;
  margin-bottom: 40px;
}

.sectionP {
  margin-top: 60px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__card {
  display: flex;
  padding: 50px;
}

.container__card--img {
  height: 450px;
  width: 650px;
}

.container__card--div {
  position: relative;
  left: -50px;
  top: 115px;
  background-color: #00F0FF;
  height: 310px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.container__card--div p {
  color: #000000;
  font-size: 20px;
  margin: 8px;
}

.container__card--div h3 {
  color: #000000;
  font-size: 40px;
  margin: 8px;
}

@media screen and (max-width: 1068px) {
  .container__card--div {
    width: 400px;
    top: 80px;
  }
  .container__card--div p {
    font-size: 16px;
  }
  .container__card--div h3 {
    font-size: 32px;
  }
  .container__card--img {
    height: 400px;
    width: 600px;
  }
}
@media screen and (max-width: 920px) {
  .container__card--div {
    top: 70px;
    width: 300px;
    height: 230px;
  }
  .container__card--div p {
    font-size: 13px;
  }
  .container__card--div h3 {
    font-size: 26px;
  }
  .container__card--img {
    height: 320px;
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container__card {
    flex-direction: column;
    align-items: center;
  }
  .container__card--img {
    height: 300px;
    width: 400px;
  }
  .container__card--div {
    top: -50px;
    left: auto;
    height: 250px;
    width: 350px;
  }
  .container__card--div p {
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .container__card {
    flex-direction: column;
    align-items: center;
  }
  .container__card--img {
    height: 230px;
    width: 95%;
  }
  .container__card--div {
    top: -50px;
    left: auto;
    height: 250px;
    width: 80%;
  }
  .container__card--div p {
    font-size: 13px;
    text-align: center;
  }
}
.sectionS {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tituloS {
  color: #00F0FF;
  font-size: 50px;
  margin-bottom: 100px;
}

main {
  color: #000000;
}

#services {
  position: relative;
  margin-bottom: 50px;
}

.services-heading {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: raleway;
  color: #00F0FF;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 900;
}

.services-content {
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 2.5%;
}

.service {
  height: 290px;
  width: 400px;
  margin: 10px;
  background-color: #fdfdfd;
  color: #000000;
  display: inline-block;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  position: relative;
  text-align: center;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  animation: opacity 1.4s ease;
}

@media screen and (max-width: 480px) {
  .service {
    height: 290px;
    width: 90%;
  }
}
.service-img {
  text-align: center;
}

.service-img img {
  display: inline-block;
  z-index: 2;
  position: relative;
  margin: 20px;
  border-radius: 30%;
  padding: 10px;
  border: 0px solid #c70039;
  background: #00F0FF;
  box-shadow: 0px 0px 0px 0px #00F0FF;
  height: 100px;
  width: 100px;
  transition: all 0.8s ease;
}

.service:hover .service-img img {
  box-shadow: 0px 0px 0px 400px #00F0FF;
}

.service-description {
  color: #000000;
  position: relative;
  display: inline-block;
  z-index: 2;
  font-weight: bold;
}

.service-description h2 {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.service-description p {
  padding: 10px;
  font-weight: 200;
  font-size: 16px;
  opacity: 0.8;
}

.sectionC {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  .sectionC {
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.contacto__input {
  display: flex;
  flex-direction: column;
  margin: 18px;
  width: 245px;
}

.contacto__input label {
  color: #00F0FF;
}

.contacto__text {
  display: flex;
  flex-direction: column;
  margin: 18px;
}

.contacto__text label {
  color: #00F0FF;
}

.contacto__submit {
  width: 100px;
}

.containerC {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .containerC {
    flex-direction: column;
  }
}
.infoC {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .infoC {
    margin-top: 70px;
  }
}
.info__div1--div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 30px;
}

.info__div2--div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 30px;
}

img {
  width: 40px;
  height: 40px;
}

h2 {
  align-self: center;
  font-size: 25px;
  color: #00F0FF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  img {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 480px) {
  img {
    height: 25px;
    width: 25px;
  }
}
.spanC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spanC p {
  font-size: 2vh;
}

.spanC h3 {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  img {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 480px) {
  img {
    height: 25px;
    width: 25px;
  }
}
#footerC {
  display: flex;
  justify-content: space-around;
}

/*# sourceMappingURL=styles.css.map */
