$color1: #000000;
$color2:#fff;
$color3: #00F0FF;
.sectionC{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
   
   
}
@media screen and (max-width:768px) {
    .sectionC{
        flex-direction: column;
        align-items: center;
        margin-top: 190px;
        
    }
}


@mixin flex-column-center {
    display: flex;
    flex-direction: column ;
    align-items: center;

}
.consulta {
    color:$color3 ;
}

.contacto {
    @include flex-column-center;
    gap: 12px;
    margin-bottom: 60px;
}
.contacto input {
    display: flex;
    flex-direction: column;
    margin: 18px;
    width: 245px;
    
}
.textarea {
    height: 100px;
    width: 245px;
}



.contacto__text label {
    color: $color3;
}

.contacto__submit {
    width: 100px;
}

.containerC {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
@media screen and (max-width:768px) {
    .containerC {
        flex-direction: column;
    }
}

.infoC {
    margin-bottom: 100px;
    @include flex-column-center;
    justify-content: space-evenly;

    
}
@media screen and (max-width:768px) {
    .infoC {
        margin-top: 70px;
    }
}


.info__div1--div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 30px;
}

.info__div2--div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 30px;

}
img {
    width: 40px;
    height: 40px;
}
h2 {
    align-self: center;
    font-size: 25px;
    color: $color3;
    text-align: center;
}
@media screen and (max-width:768px) {
    
    img {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:480px) {
   
    img {
        height: 25px;
        width: 25px;
    }
}

.spanC {
    @include flex-column-center;
    justify-content: center;
    
}

.spanC p {
    font-size: 2vh;
}

.spanC h3 {
    font-size: 30px ;
}
@media screen and (max-width:768px) {
   
    img {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:480px) {
    img {
        height: 25px;
        width: 25px;
    }
}
#footerC {
    
    display: flex;
    justify-content: space-around;
}