$color1: #000000;
$color2:#fff;
$color3: #00F0FF;
$titulo-lg: 60px;
$titulo-md: 45px;
$titulo-sm: 20px;
body {
    background-color: $color1;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: #fff;
}
header img {
    height: 50px;
    width: 100px;
}

.general-I {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 4.8fr 1fr;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    justify-content: center;
    align-items: center;
    gap: 100px;
}

section {
    display: grid;
    place-items: center;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

        .presentacion__id {
        display: flex;
        gap: 10px;
            
            .presentacion__id--nombre {
                font-size: $titulo-lg;
                color:$color3 ;
            }
            .presentacion__id--apellido {
                font-size: $titulo-lg;
                color: $color2 ;
            }
    }
}
.presentacion__info--2 {
    color: $color2;
    font-size: $titulo-sm;
}    
    
footer ul li a img {
    height: 30px;
    width: 30px;

}
.marca {
    font-size: 18px;
}
@media screen and (max-width:480px) {
    .presentacion__id--nombre {
        font-size: $titulo-md;
    }
    .presentacion__id--apellido {
        font-size: $titulo-md;
    }
    .presentacion__info--2 {
        font-size: $titulo-sm;
    }    

    footer ul li a img {
        height: 18px;
        width: 18px;
    
    }
    .marca {
        font-size: 12px;
    }
}


