$color1: #000000;
$color2:#fff;
$color3: #00F0FF;
$titulo-lg: 60px;
$titulo-md: 45px;
$titulo-sm: 20px;
body {
    background-color: $color1;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: #fff;
}
header img {
    height: 50px;
    width: 100px;
}

section {
    margin-top: 75px;
}


.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

        .presentacion__id {
        display: flex;
        gap: 10px;
                
}
.presentacion__id--nombre {
    font-size: 45px;
    color:#00F0FF ;
}
.presentacion__id--apellido {
    font-size: 45px;
    color: #fff ;
}
}
@media screen and (max-width:480px) {
   
    .presentacion__id--nombre {
        font-size: 45px;
        color:#00F0FF ;
    }
    .presentacion__id--apellido {
        font-size: 45px;
        color: #fff ;
    }
}

.typewriter p {
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $color2 }
  }

.presentacion__info--2 {
    color: $color2;
    font-size: $titulo-sm;
}    
.presentacion img {
    height: 350px;
    width: 350px;
}
@media screen and (max-width:480px) {
   
    .presentacion img {
        height: 300px;
        width: 300px;
    }
    
}

footer ul li a img {
    height: 30px;
    width: 30px;

}
.marca {
    font-size: 18px;
}
@media screen and (max-width:480px) {
    .presentacion__id--nombre {
        font-size: $titulo-md;
    }
    .presentacion__id--apellido {
        font-size: $titulo-md;
    }
    .presentacion__info--2 {
        font-size: $titulo-sm;
    }    

    footer ul li a img {
        height: 18px;
        width: 18px;
    
    }
    .marca {
        font-size: 12px;
    }
}


