.navbar {
    background-color: $color1;
}

$color1: #000000;
$color2:#fff;
$color3: #00F0FF;



.descripcion__video {
    height: 340px;
    width: 450px;
}
.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.info__span1 {
    display: flex;
    gap: 10px;

}

.info__span1--sobre {
    font-size: 100px;
}

.info__span1--mi {
    font-size: 100px;
    color: $color3;
}


.info__span2 {
    display: flex;
    gap: 10px;
}

.info__span2--soy {
    font-size: 30px;
    color: $color3;
}

.info__span2--desarrollador {
    font-size: 30px;
    
}


@media screen and (max-width:768px) {
    .info__span1--sobre {
        font-size: 60px;
    }
    
    .info__span1--mi {
        font-size: 60px;
        ;
    }

    .info__span2--soy {
        font-size: 20px;
    }
    
    .info__span2--desarrollador {
        font-size: 20px;
        
    }
}
@media screen and (max-width:480px) {
    .informacion {
        margin-top: 200px;
    }
    .info__span1--sobre {
        font-size: 40px;
    }
    
    .info__span1--mi {
        font-size: 40px;
        ;
    }

    .info__span2--soy {
        font-size: 15px;
    }
    
    .info__span2--desarrollador {
        font-size: 15px;
        
    }
    
}



.descripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    width: 1000px;

}

.descripcion__p {
    height: 150px;
    width: 250px;
}

@media screen and (max-width:768px) {
    .descripcion {
        flex-direction: column;
        margin: 10px;
        width: 500px;
    }
    .descripcion__p {
        margin: 40px;
        height: 75px;
    }
    
}
@media screen and (max-width:480px) {
    .descripcion {
        flex-direction: column;
        margin: 10px;
        width: 450px;
    }
    .descripcion__video {
        height: 250px;
        width: 400px;
    }
    
}




.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.habilidades p {
    font-size: 60px;
    color: $color3;
}

.habilidades__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.habilidades__div--html {
    height: 300px;
    width: 450px;
    margin-top: 20px;
   display: grid;
   justify-content: center;
   align-items: center;
}
.habilidades__div--bootstrap {
    height: 200px;
    width: 260px;
    display: grid;
   justify-content: center;
   align-items: center;
}


@media screen and (max-width:768px) {
    .habilidades {
        margin-top: 150px;
    }
    
    .habilidades p {
        font-size: 40px;
        
    }
    .habilidades__div {
        flex-direction: column;
    }
    
    

}
@media screen and (max-width:480px) {
    .habilidades {
        margin-top: 150px;
    }
    
    .habilidades p {
        font-size: 30px;
        
    }
    
    
    
    .habilidades__div--html {
        height: 250px;
        width: 430px;
    }
    
}
